<?xml version="1.0" encoding="UTF-8"?>
<конфигурация>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</Pattern>
        </layout>
    </appender>

    <appender name="ФАЙЛ"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <файл>tests.log></файл>
        <RollingPolicy
                class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- ежедневный ролловер -->
            <fileNamePattern>slf4jlogbackexample.%d{yyyy-MM-dd}.log</fileNamePattern>

            <!-- Храним файлы логов 10 дней -->
            <maxHistory>10</maxHistory>

            <!-- Максимальный размер файлов лога 30 гигабайт -->
            <totalSizeCap>10GB</totalSizeCap>

        </RollingPolicy>
        <кодер>
            <pattern>%d{dd.MM.yyyy HH:mm:ss.SSS} [%thread] %-5level %logger{20} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="КОНСОЛЬ" />
        <appender-ref ref="ФАЙЛ" />
    </root>
</configuration>